# Exercise 3 - Part I

## Practice exercise on Topics :
### - List comprehension
### - List
### - Tuples
### - Sets

## Level : Easy
---------------------------------

#### 1. Take a list, say for example this one:

  a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
  
and write a program that prints out all the elements of the list that are less than 5.

Try to write  SINGLE LINE program for it.

#### 2. Create a list of 10 items and print out all the elements at the EVEN positions in the list.

#### 3. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements. 

Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

Expected Output : ['Green', 'White', 'Black']

#### 4. Write a Python program to create a tuple with different data types.

#### 5.  How would you access the "this" word from the given tuple?

tup1 = ('Hello', ["this","cup"] , 4 , 2.4)

Output: 'this'

#### 6. Obtain the following output

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

Output: ('orange', 'kiwi', 'melon')

#### 7. Convert the given list to a set and display the output

list_item = ["eggs", "milk", "bread", "salami", "salad"]

#### 8. Condsider the set

city_set = { 'India', 'Belgium' , 'China' , 'Austria' , 'Scotland' }

Remove the country China from the given set.

#### 10. Consider the two sets

setA = {23, 67, 98, 34, 25, 89, 35, 56, 25, 34}

setB = {89, 45, 98, 77, 60, 69, 34, 35, 23, 100}

i. Return a set containing only the elements that are common to both the sets

ii. Return a set containing the elements of both, setA and setB

## Level  :: Moderate 
---------------

#### 1. How would you remove the list of duplicates from a list?

Input List = [ 23, 56, 67, 23, 97, 23, 78, 33, 90, 37, 75]

Output List: [ 97, 33, 67, 37, 75, 78, 23, 56, 90]

Chellenge: Solve the problem in a single line of code.

[97, 33, 67, 37, 75, 78, 23, 56, 90]

#### 2. Remove empty string from the list of strings

List1=[“Mike”, ”Emma”, ”Kelly”, ” ”,”Brad”, “ “]

#### 3. From the given list

```
Gadgets = [“Mobile”, “Laptop”, 100, “Camera”, 310.28, “Speakers”, 27.00,
“Television”, 1000, “Laptop Case”, “Camera Lens”].
```

Create separate lists of strings and numbers.

Expected output:
```
["Mobile","Laptop","Camera","Speakers","Television","Laptop Case","Camera Lens"]
[100,310.28,27.00,1000]
```

#### 4. Output a list of EVEN numbers between 0 and 40 using List Comprehensions
Hint: Create a list with the help of range()

Example:
Input: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Output: [0, 2, 4, 6, 8, 10]

#### 4. Reverse the following tuple

aTuple = (10, 20, 30, 40, 50)

#### 5. Consider the following tuple:

tup1 = ('I'm', 22, 'Salary', 23.4)

Can you remove the element 'Salary' from the tuple by using .pop() ? If not, where would you make use of .pop()?
How would you remove the element 'Salary' from the given tuple?

#### 6. Access the value 20 from the following Tuple

aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

#### 7. Check if all items in the following tuple are the same

```
tuple1 = (44, 44, 44, 44, 44, 44,)
```

Expected output:

```
True
```

#### 8. Check if "apple" is present in the tuple:

tuple = ("apple", "banana", "cherry")

If yes, show "Yes, 'apple' is in the fruits tuple" in the output

#### 9. Return a set of all elements in either A or B, but not both 

set1 = {10, 20, 30, 40, 50}

set2 = {30, 40, 50, 60, 70}

Expected Output: {20, 70, 10, 60}

#### 9.  Complete the code to obtainthe given output

A = ____("Python")

B = ____("Class")

A.______(B)

print(A)

Output : {'s', 'y', 'P', 'n', 'l', 'o', 'C', 'a', 'h', 't'}

#### 10. How do you iterate over a SET? Write a code to obtain the following output from the given set if input.
Hint: Make use of set()

Example: 

Input: name = "MikeRoss"

Output: 
s

o

M

R

k

e

i






# Level :: Difficult 
------------------------

#### 1.Concatenate the two lists in the following way

List1 = [“Hello”,”nice to”]

List2 = [“Dear”, “meet you”]

Expected Output: [“Hello Dear”, “nice to meet you”]

#### 2. Write a Python program to change the position of every n-th value with the (n+1)th in a list. 

Sample list: [0,1,2,3,4,5]

Expected Output: [1, 0, 3, 2, 5, 4]

#### 3.  Write a Python program to split a list every Nth element. 

Sample list: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']

Expected Output: [['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

#### 4. How to find the repeated item of a tuple？

tup=（2，4，5，6，2，3，4，4，7，8，4，3，2）

Expected output：4

#### 5. Sort a tuple of tuples by 2nd item

tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

Expected output:

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

#### 6. Write a Python program to remove an empty tuple(s) from a list of tuples. 

Sample data: [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]

Expected output: [('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

#### 7. Complete the following code to obtain the required output

The index of e: 1

The index of i: 2

In [ ]:

vowels_string = 'aeiou'

#add something here


index = vowels.index('?')
print('?', index)
index = vowels.index('?')
print('?:', index)

#### 8. How would you execute the same code using List Comprehension:

For Loop Version

mat = [[1,2,3,4], [5,6,7,8], [9,10,11,12], [13,14,15,16]]

result = []

for row in mat:

    for i in row:
    
        if i%2 == 0:
        
            result.append(i)
            

print(result)


[2, 4, 6, 8, 10, 12, 14, 16]

#### 9. Complete the given program in order to obtain the given output

Hint: Use the concept of symmetric differences in Sets

setA = {'a', 'e', 'i', 'o', 'u', 'g', 'h'}

setB = {'a', 'e', 'z', 'b', 't', 'o', 'u'}

symdiffAB = setA._________(setB)

print("symdiffAB:", symdiffAB, "size:", ____(symdiffAB))

symdiffBA = setB.___________(setA)

print("symdiffBA:", symdiffBA, "size:", ____(symdiffBA))


Output:

symdiffAB: {'z', 'h', 'i', 'g', 't', 'b'} size: 6

symdiffBA: {'z', 'i', 'g', 'b', 't', 'h'} size: 6

#### 10. Write a Python program to use of frozensets. 
Note: Frozensets behave just like sets except they are immutable.